{{ " " }}
<div class="card" data-style="{{ include.style }}">
  {%- assign _href = include.link | default: include.url -%}
  {%- assign is_external = false -%}
  {%- if _href and _href contains '://' -%}
    {%- if site.url and _href contains site.url -%}
      {%- assign is_external = false -%}
    {%- else -%}
      {%- assign is_external = true -%}
    {%- endif -%}
  {%- endif -%}

  <a
    {% if _href %}
      {% if is_external %}
        href="{{ _href | uri_escape }}"
      {% else %}
        href="{{ _href | relative_url | uri_escape }}"
      {% endif %}
    {% endif %}
    {% if is_external %}target="_blank" rel="noopener"{% endif %}
    aria-label="{{ include.title | default: "card link" | regex_strip }}"
    class="card-image"
  >
    <img
      src="{{ include.image | relative_url | uri_escape }}"
      alt="{{ include.title | default: "card image" | regex_strip }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>

  <div class="card-text">
    {% if include.title %}
      {%- assign _href = include.link | default: include.url -%}
      {%- assign is_external = false -%}
      {%- if _href and _href contains '://' -%}
        {%- if site.url and _href contains site.url -%}
          {%- assign is_external = false -%}
        {%- else -%}
          {%- assign is_external = true -%}
        {%- endif -%}
      {%- endif -%}
      <a
        {% if _href %}
          {% if is_external %}
            href="{{ _href | uri_escape }}"
          {% else %}
            href="{{ _href | relative_url | uri_escape }}"
          {% endif %}
        {% endif %}
        {% if is_external %}target="_blank" rel="noopener"{% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip | xml_escape }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
    </a>
    {% endif %}

    {% if include.subtitle %}
      <span class="card-subtitle">{{ include.subtitle }}</span>
    {% endif %}

    {% if include.description %}
      <p>
        {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>
