{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}
{% assign portrait_tag = "a" %}
{% if include.clickable == false or page.slug == member.slug %}
  {% assign portrait_tag = "div" %}
{% endif %}

<div class="portrait-wrapper">
  <{{ portrait_tag }}
    {% if portrait_tag == "a" %}
      href="{{ member.url | relative_url | uri_escape }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" | regex_strip }}"
  >
    {% if member.image %}
    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="{{ member.name | xml_escape }}"
      width="200"
      height="200"
      loading="lazy"
      {% include fallback.html %}
    >
    {% else %}
      {% assign name_parts = member.name | split: ' ' %}
      <span class="portrait-image portrait-placeholder" aria-hidden="true">{{ name_parts.first | slice: 0 }}{{ name_parts.last | slice: 0 }}</span>
    {% endif %}

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}
  </{{ portrait_tag }}>
</div>
