---
layout: default
---

{% include project-hero.html %}

<section class="project-body">
  {{ content }}
</section>

{% assign project_publications = site.data.sources | publications_for_project: page.permalink, site.data['publication-metadata'] %}
{% if project_publications.size > 0 %}
  <section class="project-publications">
    <h2>Related Publications</h2>
    {% for pub in project_publications %}
      {% include citation.html lookup=pub.id style="rich" %}
    {% endfor %}
  </section>
{% endif %}


{% include tags.html tags=page.tags link="/projects/" repo=page.repo %}
